.logiq-button {
    /* center the button */
    display: block;
    width: 200px; /* Adjust button width as needed */
    height: 90px; /* Adjust button height as needed */
    background-image: url("images/logiq.png"); /* Add toolbox image */
    background-size: contain; /* Adjust image size to cover button */
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black; /* Add a black border */
    cursor: pointer; /* Change cursor to pointer on hover */

    /*Positioning properties*/
    position: absolute;
    top: 20%; /* Position button at 50% of the containing element */
    left: 10%; /* Position button at 50% of the containing element */
    transform: translate(-50%, -50%); /* Move button 50% from the top and 50% from the left */
}