.toolbox-button {
    /* center the button */
    display: inline-block;
    width: 435px; /* Adjust button width as needed */
    height: 133px; /* Adjust button height as needed */
    background-image: url("images/toolbox.png"); /* Add toolbox image */
    background-size: cover; /* Adjust image size to cover button */
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer; 
    margin-left: 50px;
    margin-top: 50px;
}

.toolbox-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.stihl_b2b-button {
    
    display: inline-block;
    width: 435px; 
    height: 133px; 
    background-image: url("images/stihl_b2b.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer; 
    margin-left: 20px;
    margin-top: 50px;
}

.stihl_b2b-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.stihl_ssc-button {
    
    display: inline-block;
    width: 435px; 
    height: 133px; 
    background-image: url("images/stihl_ssc.png"); 
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer; 
    margin-left: 20px;
    margin-top: 50px;
}

.stihl_ssc-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.stiga-button {
    
    display: inline-block;
    width: 435px; 
    height: 133px; 
    background-image: url("images/stiga.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 50px;
}

.stiga-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.power_portal-button {
    
    display: inline-block;
    width: 435px; 
    height: 133px; 
    background-image: url("images/power_portal.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 50px;
}

.power_portal-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.kramp-button {
    
    display: inline-block;
    width: 435px; 
    height: 133px; 
    background-image: url("images/kramp.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 50px;
}

.kramp-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.husqvarna-button {
    
    display: inline-block;
    width: 435px; 
    height: 133px; 
    background-image: url("images/husqvarna.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 50px;
}

.husqvarna-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.jofrab-button {
    
    display: inline-block;
    width: 435px; 
    height: 133px; 
    background-image: url("images/jofrab.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 50px;
}

.jofrab-button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
    
}

.search-bar{
    margin-top: 350px;
    margin-left: 550px;    
        
}

.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 400px;
    background: #f1f1f1;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.search-bar button {
    float: left;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 50px;
}