body {
    font-family: Arial, sans-serif;
}

#presentkortContainer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 590px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
}

#listaPresentkortContainer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 570px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrolling */
}

h1, h2 {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

#inputCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #333 2px solid;
    padding: 20px;
    border-radius: 10px;
}

#cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: #333 2px solid;
    padding: 20px;
    border-radius: 10px;
}

#cardInfo label, #cardInfo input {
    text-align: center; /* Center text inside the label and input */
    margin: 0 auto; /* Center the input field itself */
}

#cardValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

#cardInfo input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 20px; */
}

#serialNumber, #redeemAmount, #cardValueInput {
    width: 150px;
}

#activateCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #333 2px solid;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

#activateCard div {
    justify-content: center;
    /* gap: 10px; */
    margin: 10px 0;
}

#activateCard div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #checkCard {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;

} */

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input{
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

#getNextSerialNumber, #activateCard button, #checkCard, #redeemCard, #viewHistory, #backToPresentkort, #listCards, #applyFilters {
    padding: 5px 10px; /* Reduced padding */
    font-size: 14px;  /* Smaller font size */
    background-color: rgb(85, 85, 85);
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 150px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    background-image: none;
    border-radius: 5px;
}

#viewHistory {
    margin-top: 10px;
}

#backToPresentkort {
    margin-top: 10px;
}

/* #activateCard button:hover {
    background-color: #218838;
} */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #fff;
}

.dateRange {
    display: flex;
    gap: 20px; /* Add spacing between the fields */
    align-items: center;
}

.dateRange div {
    display: flex;
    flex-direction: column;
}


