

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .container button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .container button:hover {
    background-color: #555;
    transform: scale(1.1);
    opacity: 0.8;
    filter: grayscale(100%);
  }
  
  .toolbox-button {
    background-image: url("../images/toolbox.png");
  }
  
  .stihl_b2b-button {
    background-image: url("../images/stihl_b2b.png");
  }
  
  .stihl_ssc-button {
    background-image: url("../images/stihl_ssc.png");
  }
  
  .stiga-button {
    background-image: url("../images/stiga.png");
  }
  
  .power_portal-button {
    background-image: url("../images/power_portal.png");
  }
  
  .kramp-button {
    background-image: url("../images/kramp.png");
  }
  
  .husqvarna-button {
    background-image: url("../images/husqvarna_blå.png");
  }
  
  .jofrab-button {
    background-image: url("../images/jofrab.png");
  }
  
  .fairown-button {
    background-image: url("../images/allinclusive.png");
  }
  
  .openai-button {
    background-image: url("../images/openai.png");
  }

  .ryobi-button {
    background-image: url("../images/ryobi.png");
  }

  .tti-button {
    background-image: url("../images/tti.png");
  }

  .al-ko-button {
    background-image: url("../images/alko.png");
  }




  
  