#clock {
    font-family: 'Times New Roman', Times, serif, serif;
    font-size: 16rem;
    color: white;
    text-align: center;
  }

  .prosto-one-regular {
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  #date {
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 20px;
    font-size: 3rem;
    color: white;
    text-align: center;
  }

  .flexCenter {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 300px;
  }